apiVersion: apps/v1
kind: Deployment
metadata:
  name: sl-demo-app
  namespace: default
  labels:
    app: sl-demo-app
spec:
  selector:
    matchLabels:
      app: sl-demo-app
  replicas: 1
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: sl-demo-app
    spec:
      containers:
      - name: sl-demo-app
        image: docker.m.daocloud.io/library/nginx:latest
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 100m
            memory: 100Mi
        ports:
        - containerPort: 80
          name: app-port
        volumeMounts:
        - name: localtime
          mountPath: /etc/localtime
      volumes:
      - name: localtime
        hostPath:
          path: /usr/share/zoneinfo/Asia/Shanghai
      restartPolicy: Always