apiVersion: apps/v1
kind: Deployment
metadata:
  name: sl-demo-app
  namespace: sit
  labels:
    app: sl-demo-app
spec:
  replicas: 5
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate