# 4.secrets-deployment.yaml
apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: default
type: Opaque
data:
  # 编码
  # echo -n '[Data]' | base64
  # 解码
  # echo -n '[Base64_Data]' | base64 --decode
  username: ZGJsdXNlcg== # dbluser
  password: cGFzc3dvcmQxMjM= # password123
  host: ZGIuZXhhbXBsZS5jb20= # db.example.com
  port: MzMwNg== # 3306
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp-container
        image: nginx:1.18
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
        env:
        - name: DB_USER
          valueFrom:
            secretKeyRef:
              name: db-credentials
              key: username
        envFrom:
        - secretRef:
            name: db-credentials
        volumeMounts:
        - name: db-credentials
          mountPath: /etc/db-credentials
          readOnly: true
          
      volumes:
      - name: db-credentials
        secret:
          secretName: db-credentials